
.aboutPreview > img {
	height: 20dvh;
	border-radius: 2em;


}




.aboutPreview {
    max-width: 65vw;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
    margin: 2em;
    padding: 1em;

    background-color: var(--blue-500); /* background hue of container */
    border-radius: 1em;
    border: 2px solid white; /* Add a white border */
	box-shadow: 0.5em 0.5em var(--white-100);

}


.aboutPreview:hover {
	border-radius: 0;
}


.aboutPreview > a {
	background-color: var(--blue-200);
	padding: 1em;
	border-radius: 2em;
}


.aboutPreview> section {
	display: flex;
	column-gap: 2em;
}

.aboutPreview > section > a {
	background-color: var(--blue-400);
	padding: 1em;
	border-radius: 2em;
	border: 2px solid white;
	
}

.contentRow {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	margin: 0;


}

main {
	margin: 0;
}




.contentRow img {
	height: 120%;
    width: 100%;
    max-height: 50dvw;
    

	transition: 1s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 1em;	
	margin: 0;


}




/* Contact infosizing */

.projectContact {
	max-width: 65dvw;

	transition: 1s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 1em;	
	margin: 1em;
	padding: 0.1em;
	border-radius: 2em;

	
    
}




/* Using flex to install an image to the top  of the about page  */

.flex-container {
    width: 100%; 
    height: 35vh; 
    position: relative; /* Important to make retative and not absolute to allow for scrolling  */
    background-image: url('./assets/PROFILE.jpg');
    background-size: auto 100%; 
    background-position: center top; 
  }

.flex-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; 
  background-position: center; 
}

/* Adjust the background image for pseudo-element- this was the only way i could get the image to sit within the container in the way i wanted */

.flex-container::after {
  background-image: url('./assets/PROFILE.jpg');
}






  nav div a:nth-child(2) { /* Selects the second <a> element */
    color: var(--blue-100);
  }




/* Styling the buttons within the site to have additoanl intest and work with the other elements */
  button {
	color: var(--white-100);
	background-color: var(--blue-500);
    margin-right: 10%;
	border-radius: 2dvb;
	border-color: var(--white-100);
	width: 35dvb;
	height: 9dvb;
	font-family: sans-serif;
	font-weight: bolder;
    box-shadow: 0.5em 0.5em var(--white-100);


}

button:hover {
	border-radius: 3dvb;
    border-color: var(--blue-500);
    color: var(--blue-500);
    background-color: var(--blue-300);
    box-shadow: 0.5em 0.5em var(--blue-100);

}






















/* Desktop view */
@media screen and (min-width: 600px) {
	.contentRow {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	main {
		margin: 0;
		padding: 0;

	}

	.projectPreview {
		width: 30dvw;
		margin: 1em;
		
	}

    .contentRow img {
        height: 20%;
        width: 100%;
        max-height: 20dvw;
        
    
        transition: 1s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1em;	
        margin: 0;
    
    
    }



    /* Using flex to install an image to the top  of the about page  */

.flex-container {
    width: 100%; 
    height: 50vh; 
    position: relative; /* Important to make retative and not absolute to allow for scrolling  */
    background-image: url('./assets/PROFILE_3.jpg');
    background-size: auto 100%; 
    background-position: center top; 
  }

.flex-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; 
  background-position: center; 
}

/* Adjust the background image for pseudo-element- this was the only way i could get the image to sit within the container in the way i wanted */

.flex-container::after {
  background-image: url('./assets/PROFILE_3.jpg');
}




}