
.projectContact {
    width: 80%; /* Set the width of the box */
    height: 200%; /* Set the height of the box */
	justify-content: center;
	align-self: center;

    padding: 10%; /* padding inside the box */
	padding-bottom: 10px;

    /* border: 2px solid var(--blue-400);   border */
    border-radius: 10px; /* Add rounded corners */

	color: var(--black-100); /* Text colour within box */

    background-color: var(--blue-500); /* Set the background color */
	
	margin-bottom: 5dvb; /* Creating space between boxes */


}

#Contact {
	text-decoration: none; /* Remove underline from all linked text */
	color: #ffffff;

}








nav div a:nth-child(5) { /* Selects the second <a> element */
    color: var(--blue-100);
  }










  button {
	color: var(--white-100);
	background-color: var(--blue-500);
    margin-right: 10%;
	border-radius: 2dvb;
	border-color: var(--white-100);
	width: 35dvb;
	height: 9dvb;
	font-family: sans-serif;
	font-weight: bolder;
    box-shadow: 0.5em 0.5em var(--white-100);


	margin: 2%;
	justify-content: center;

	button {

		text-decoration: none;
		background-color: transparent; 
		color: var(--white-100); /* Button text color */
		padding: 10px 60px; /* Padding inside the button */
		border-radius: 10px; /* rounded corners */
	
		border: 1px solid #ffffff; /* border */
		box-shadow: 0.5em 0.5em var(--white-100);
	
		cursor: pointer; /* Change cursor to pointer on hover */
		transition: background-color 0.3s; /* Smooth transition for background color */
	

		
	}







}

button:hover {
	border-radius: 3dvb;
    border-color: var(--blue-500);
    color: var(--blue-500);
    background-color: var(--blue-300);
    box-shadow: 0.5em 0.5em var(--blue-100);

}




/* Desktop view */
@media screen and (min-width: 600px) {
	.contentRow {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	main {
		margin: 0;
		padding: 0;

	}

	.projectPreview {
		width: 30dvw;
		margin: 1em;
		
	}


}