
/* HOME PAGE - id tag updated to have more emphasis */
#explore {
	color: var(--blue-300);
}    

button {
	color: var(--white-100);
	background-color: var(--blue-500);
    margin-right: 10%;
	border-radius: 2dvb;
	border-color: var(--white-100);
	width: 35dvb;
	height: 9dvb;
	font-family: sans-serif;
	font-weight: bolder;
    box-shadow: 0.5em 0.5em var(--white-100);


}

button:hover {
	border-radius: 3dvb;
    border-color: var(--blue-500);
    color: var(--blue-500);
    background-color: var(--blue-300);
    box-shadow: 0.5em 0.5em var(--blue-100);

}

nav div a:first-child {
    color: var(--blue-100);
  }